#face {
  margin-top: 30px;
  border-radius: 50%;
  border: 5px solid silver;
}

.icon {
  width: 100px;
  height: 100px;
}

header {
  width: 100%;
  top: 0;
  position: fixed;
  overflow: hidden;
  background-color: #285172;
  height: auto;
  align-items: center;
  z-index: 1;
}

#nav_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#nav_links a {
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  font-size: 1.3em;
  height: 100%;
  padding: 17px;
}

/* Handle color change on mouse cursor hover on nav links */

header a:hover {
  background-color: whitesmoke;
  color: black;
}

#nav_links a:hover {
  color: black;
}

#banner {
  background-image: url("../images/background_blur.jpg");
  /* Parralax effect */
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*                  */
  /* background-color: #0095f8; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding-bottom: 25px;
}

#banner h1,
#banner h2 {
  color: whitesmoke;
  font-size: 2em;
}

#banner h1 {
  font-size: 3em;
}
